ion-content {
    --background: #F2B880;
}

h1 {
    text-align: center;
    font-size: 2.1rem;
    margin-top: 40%;
    color: #124E78;
    font-style: oblique;
}

ion-row {
    margin-top: 10%;
}

ion-button {
    display: inline-block;
    --background: #06908F;
    color: #FEFADC;
}

ion-item {
    --background: #FEFADC;
    color: #000000;
}